{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "react/jsx-props-no-spreading": "off",
    "max-len": "off",
    "no-unused-vars": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
